.maxHeightMore {
  position: relative;
  overflow: hidden;
  max-height: 340px;
}

.btnShowMore {
  border: none;
  background-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #4e72ca;
}
